<% if park.visited_by(current_user)  %>

  <%= link_to 'Check out', park_visit_path(park_visit), method: :delete, class: "btn2" %></button>
<% else %>
  <%= simple_form_for [park, park_visit] do |f| %>
    <%= f.button :submit, "Check in", class: "btn2" %>
  <% end %>
<% end %>
