<div class="card-dog">
  <%#= image_tag "app/assets/images/dog-in-bowtie.jpg" %>
  <%= image_tag "dog-in-bowtie.jpg" %>
  <div class="card-dog-infos">
    <h2><%= dog.name %></h2>
    <h2><%= dog.breed %></h2>
    <h2><%= dog.size %></h2>
  </div>
</div>
