<div class="card-dog">
  <%= cl_image_tag dog.main_photo.key, crop: :fill %>
  <div class="card-dog-infos">
    <h2><strong><%= dog.name %></strong></h2>
    <div class="breed" style >
      <div class="gender">
        <% if dog.gender == "Male" %>
          <i class="fa fa-regular fa-mars"></i>
        <% else %>
          <i class="fa fa-thin fa-venus"></i>
        <% end %>
      </div>
      <h2><%= dog.breed %></h2>
    </div>
    <div class="size">
      <% if dog.size == 'small' %>
        <i class='fas fa-dog' style='font-size:24px'></i>
      <% elsif dog.size == 'medium' %>
        <i class='fas fa-dog' style='font-size:36px'></i>
      <% elsif dog.size == 'big' %>
        <i class='fas fa-dog' style='font-size:40px'></i>
      <% end %>
    </div>
    <h2><%# dog_size(dog) %></h2>
  </div>
</div>
