<div class="card-dog">
  <%= cl_image_tag dog.main_photo.key, crop: :fill %>
  <div class="card-dog-infos">
   <div class="gender"><h2><strong><%= dog.name %></strong>
        <% if dog.gender == "Male" %>
         <i class='fas fa-mars' style='font-size:14px;color:blue'></i>
        <% else %>
          <i class='fas fa-venus' style='font-size:16px;color:pink'></i>
        <% end %>
        </h2>
      </div>

    <div class="breed" style >
    </div>
    <div class="size"><h2><%= dog.breed %>
      <% if dog.size == 'small' %>
       <i class='fas fa-dog' style='font-size:8px;color:black'></i>
       <i class='fas fa-dog' style='font-size:10px;color:grey'></i>
       <i class='fas fa-dog' style='font-size:12px;color:grey'></i>
      <% elsif dog.size == 'medium' %>
       <i  class='fas fa-dog' style='font-size:8px;color:grey'></i>
        <i class='fas fa-dog' style='font-size:10px;color:black'></i>
        <i class='fas fa-dog' style='font-size:12px;color:grey'></i>
      <% elsif dog.size == 'big' %>
        <i class='fas fa-dog' style='font-size:8px;color:grey'></i>
        <i class='fas fa-dog' style='font-size:10px;color:grey'></i>
        <i class='fas fa-dog' style='font-size:12px;color:black'></i>
      <% end %>
      </h2>
    </div>
    <div class="traits">
      <% dog.traits.each do |trait| %>
        <%= trait.trait %>
      <% end %>
    </div>
  </div>
</div>
