<div class="card-dog">
  <%= cl_image_tag dog.main_photo.key, crop: :fill %>
  <div class="card-dog-infos">
    <h2><%= dog.name %></h2>
    <p>the absolute <strong>best</strong> doggo out there.</p>
  </div>
</div>
