<div class="card-dog">
  <% if dog.main_photo.attached? %>
    <%= cl_image_tag dog.main_photo.key, crop: :fill %>
  <% else %>
   <%= image_tag('dog-in-bowtie.jpg', crop: :fill) %>
  <% end  %>
  <div class="card-dog-infos">
    <h2><%= dog.name %></h2>
    <p>the absolute <strong>best</strong> doggo out there.</p>
  </div>
</div>
