<%= cl_image_tag park.photo.key, height: 121, crop: :fill %>
<h2 class="info-header"><%= park.name %></h2>
<h3 class = "info-dog"><%= pluralize park.dogs.count, "dog" %> in this park</h3>
  <div class="review card-review">
<%= link_to 'show', park_path(park), class: "btn btn-primary", style: "margin: 18px;" %>
