<h4>some one told me you own a new dog!</h4>
<h4>how exciting!</h4>
<div class='dog-details-container'>
  <div class='dog-nane'>
    <p>What do you call it?</p>
  </div>
  <div class='dog-gender'>
    <p>What geneder is it?</p>
    <div class='gender-container'>
      <i class='fas fa-mars' style='font-size:16x;color:blue'></i>
      <i class='fas fa-venus' style='font-size:18px;color:pink'></i>
    </div>
  </div>
  <div class='dog-size'>
    <p>What size is it?</p>
    <div class="size-container">
      <i class='fas fa-dog' style='font-size:14px;color:black'></i>
      <i class='fas fa-dog' style='font-size:17px;color:grey'></i>
      <i class='fas fa-dog' style='font-size:20px;color:grey'></i>
    </div>
  </div>
</div>
