<%= render 'page-title', title: "I Heard You Got A Doggo" %>

<div class='dog-details-container margin-top'>
  <div class='dog-name'>
    <p class="details-subtitle">What's his/her name?</p>
    <input class="input" type="text" data-action="input->add-dog#nameTyped" data-add-dog-target='name'>
  </div>

  <div class='dog-gender margin-top'>
    <p class="details-subtitle">What's thier gender?</p>
    <div class='gender-container'>
      <i class='fas fa-mars gender-button male-button' data-add-dog-target='gender' data-action="click->add-dog#genderElementClicked" data-gender="male"></i>
      <i class='fas fa-venus gender-button female-button' data-add-dog-target='gender' data-action="click->add-dog#genderElementClicked" data-gender="female"></i>
    </div>
  </div>
</div>
