<h1>traits</h1>
<div class="traits-container">
  <% @traits.each do |trait| %>
    <div class="trait-pick">
      <%= trait.trait %>
    </div>
  <% end %>
</div>
<%= image_tag "dog-playing-freezbie.png" %>
