<%= render 'page-title', title: "Let Us See Your Doggo :)" %>

   <div class='dog-breed margin-top'>
    <p class="details-subtitle">What's thier breed?</p>
    <input type="text" class="input" data-action="input->add-dog#breedTyped" data-add-dog-target='breed'>
  </div>

  <div class='dog-size margin-top'>
    <p class="details-subtitle">What's thier size?</p>
    <div class="size-container">
      <i class='fas fa-dog size-button' style='font-size:0.95em' data-add-dog-target='size' data-action="click->add-dog#sizeElementClicked" data-size="small"></i>
      <i class='fas fa-dog size-button' style='font-size:1.2em' data-add-dog-target='size' data-action="click->add-dog#sizeElementClicked" data-size="medium"></i>
      <i class='fas fa-dog size-button' style='font-size:1.45em' data-add-dog-target='size' data-action="click->add-dog#sizeElementClicked" data-size="large"></i>
    </div>

    <a href="#" class="btn btn-primary margin-top" data-action="click->add-dog#uploadPhotoClicked">Upload a photo</a>

  </div>
