<div id="message-<%= message.id %>" class="chat-message">
  <small class="message-info">
    <strong><%= message.user.name %></strong>
    <i><%= distance_of_time_in_words(message.created_at, Time.now) %></i>
  </small>
  <p class="message-message"><%= message.message %></p>
</div>
