<div class="container">
  <h1 class="page-header" ><strong><%= @park.name %></strong></h1>
  <% if @park.photo.attached? %>
    <%= cl_image_tag @park.photo.key, :width=>300, :height=>100, class: "park-img" %>
    <br>
    <br>
  <% else %>
    <%= image_tag('dog-park.png', height: 121, crop: :fill, class: "park-img") %>
  <% end  %>
<%= render 'review_form', park: @park, review: @review %>
