<div class ="global">
   <div class="container">
   <img src="https://i.imgur.com/JfL3qn7.png" alt="madoggo road" class="doggoroad">
   <h3 class="h3c">We are glad to introduce MaDoggo!</h3>
   <p class="pclass">The top leading app for finding active dog parks & upgrading your dog's social life!</p>
   </div>
   <center><a href="parks"><button class="btn1">Find Parks!</button></a><button class="btn1">Doggo Chat</button></center>
 </div>
