<div class="footer-wrap">
 <div class='footer-action button'>
    <%= link_to 'Map', parks_path %>
 </div>
 <div class="footer-action button">
   <%= link_to 'Chat','#' %>
 </div>
 <div class="footer-action button">
  <%= link_to 'Dashboard', dashboard_path %>
 </div>
</div>
