
.btn1 {
  display: inline-flex;
  justify-content: space-between;
  margin: 8px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 30%;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F49FBC;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#FBBFCA, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  a{
    color: white;
    text-decoration: none;
    font-size: center;
    font-size: 12px;
    align-items: center;
}

}
.buttons-container{
  display: flex;
  font-size: 10px;
  margin-bottom: 30px;

  #attend {
    padding: 0 6px 0 10px;
  }
}
.image_park{
  // height: 100%;
  // width: 50%;
  // margin: 24px;
  display: flex;
  position: relative;
  height: 30vh;

  h1 {
    position: absolute;
    text-align: center;

    strong {
      font-size: 12px;
    }
  }

  img {
    width: 65%;
    height: 80%;
    object-fit: cover;
  }



  .chat-button {
    margin-left: 10px;
    padding: 1px;

    &::before, &::after {
      background-color: #FFEE93 !important;
    }
  }

  .button-container {
    display: flex;
    flex-direction: column;
    width: 34%;
    padding: 1px;
    justify-content: space-between;
    height: 80%;

    .btn1 {
      width: 100% !important;
      margin: 0 0 0 10px;
    }
  }
}
