
.btn1 {
  background-color: #7353BA;
  color: white;
  border-radius: 20px;
  font-size: 26px;
  box-shadow: 2px 2px 4px black;
  margin: 20px;
  padding: 2px 40px;
  font-family: "Verdana";
  font-weight: bold;
