<h1>Dash-Board</h1>
<h2><%= @user.email %></h2>
<% @user_dogs.each do |dog| %>
 <p> <%= dog.name %></p>
<% end %>
<% @user_friendships.each do |friendship| %>
 <p> <%= name_of_friend(friendship) %></p>
<% end %>
