body {
  background-color: white;
}

.logohm {
  // margin: 20px;
  width: 60px;
  border-radius: 20%;
}

.dogslide {
  height: 200px;
}

.pclass {
  font-family: "Verdana";
  color: grey;
  font-size: 15px;
  margin: 30px;
}

.d-block {
  height: 300px;
}
