body {
  background-color: ghostwhite;
}

.logohm {
  // margin: 20px;
  width: 60px;
  border-radius: 20%;
}

.dogslide {
  height: 200px;
}

.pclass {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: grey;
  font-size: 15px;
  margin: 30px;
}

.pclass2 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: grey;
  font-size: 15px;
}

.pclass3 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color:black;
  font-size: 18px;
  padding: 20px;
}

.d-block {
  height: 300px;
}
