.chat-message{
  padding: 8px;
    text-align: initial;
    border-radius: 16px;
    margin: 14px;
    background: #25d366;
    color: white;
    font-size: 16px;
    border: solid 1px #686767;
    box-shadow: 4px 4px 2px 1px rgba(17, 140, 126, 0.27);
}

.messages {
  border-radius: 20px;
  margin: 20px
}

.park-chat {
  .input-group {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: flex-end;
  }

  .input-group .btn{
    position: relative;
    z-index: 2;
    box-shadow: 0 -1px 5px black;
    border-radius: 18px;
    background: #128c7e;
    border: #128c7e;
    border-radius: 30px;

  }

  .park_message_message input[type=text] {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #0E0000;
      background-color: #ece5dd;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 18px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-shadow: 0 -1px 3px black;
    }
  .btn-primary:hover {
    color: #fff;
  }
  .btn-primary {
    border-radius: 30px;
    color: #fff;
    background-color: #128c7e;
    border-color: #128c7e;
  }
}
