.card-dog {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 16px;
  border-radius: 20px;

  .size {
    float: left
  }
}


.card-dog img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 50px;
}

.card-dog h2 {
  font-size: 14px;
  margin: 4px;
  text-align: justify;
  padding: 1px;
}


.card-dog p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-dog .card-dog-infos {
  padding: 16px;
}


.breed {
  display: flex;
}
