.footer {
  width: 100%;
  display: flex;
  border-top: 1px solid grey;
  margin: 2px;
  padding: 8px;

  .footer-action {
    width: 33%;
    text-align: center;
    border-radius: 4px;
  }

  img {
    max-width: 25%;
  }
}

.activep {
  // background: linear-gradient( to bottom, #7353BA, #F49FBC);
  box-shadow: 2px 2px 2px 2px #7353BA;
  padding: 2px;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  // flex: 1 0 auto;
  max-height: 85vh;
  overflow-y: scroll;
}
.footer {
  flex-shrink: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
