.card-friend{
  display:flex;
  flex-direction: column;
  width: 5rem;
  align-items: center;
}

.card-friend img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.card-friend-infos p {
  text-align: unset;
}
