.info-header {
     color: black;
    font-size: 16px;
    border-radius: 27px;
    margin: 5px;
    padding: 5px;
}

.btn-primary {
  border-radius: 50px;
  color: #fff;
  background-color: #7353BA;
  border-color: #7353BA;
}
.btn-primary:active{
  color: #fff;
  background-color: #7353BA;
  border-color: #7353BA;
}

.map-container {
  .mapboxgl-popup-content {
    border-radius: 23px;

    img{
      border-radius: 12px;
    }
  }
}
