.traits-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: solid black 4px;
  border-radius: 36px;
}

.trait-pick {
  padding: 4px 10px;
  border-radius: 8px;
  margin: 8px;
  font-size: 25px;
  color: #fdfd5d;
  border-color: #fdfd5d;
}

.trait-picked {
  background: #fdfd5d;
  color: white;
}
